.game-container {
  text-align: center;
}

.road {
  display: grid;
  position: relative;
  width: 320px;
  height: 500px;
  margin: auto;
  background: #333;
  border: 2px solid black;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr); /* 3 carriles */
}

.lane {
  border-left: 2px dashed white;
  height: 100%;
}

.lane:first-child {
  border-left: none;
}

.carro-jugador {
  background-image: url('img/moto-jugador.png');
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  bottom: 10px;
  width: 100px;
  height: 80px;
}

.obstaculo {
  background-image: url('img/carro.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 60px;
  height: 100px;
}

body{
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(112,34,50,1) 94%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* alto completo de la pantalla */
  padding: 20px;
}

.card-inicio {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15); 
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18); 
  text-align: center;
  color: white; 
  font-family: 'Segoe UI', sans-serif;
}

.controles, p{
  font-size: 18px;
  font-weight: 600;
}